@import "variables";

*{
    margin: 0;
    padding: 0;
}
// navegador
.navbar{
    background-color: $colornav;

    &__logo{
        height: 60px;
    }
}

a{
    font-size: 20px;
}

// body
body{
    background-color: $colorbody;
}

// main
#containerCard{
    margin: 30px 30px 150px 30px;

    &__uno{
        text-align:justify;
    }

    &__dos{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__logo{
        width: 50%;
    }

    &__new{
        text-transform: lowercase;
        font-size: 10px;
    }

    &__img{
        height: 20rem;
    }
}

// diseño subitulos
.tituloHome{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    font-weight: 500;
    margin: 20px;
}

.card-title{
    text-transform: uppercase;
    font-size: 25px;
    margin: 10px;
    font-family: 'Montserrat', sans-serif;
    color: $colornav;
    font-style: italic;
}

.tituloClub{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 500;
    margin: 40px 0 60px 60px ;
}

// diseño parrafos
p{
    color: black;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    font-size: 19px;
}

.parrafoClub{
    font-family: 'Roboto', sans-serif;
    max-width: 1000px;
    margin-left: 60px;
    margin-bottom: 80px;
}

// pagina 2 Club
table{
    border: 3px solid;
    text-align: center;
    margin: 20px 0 60px 60px;
}
    
th {
    background-color:$colorcards;
    border: 1px solid;
    color: $colornav;
}
      
tr, td {
    background-color: white;
    border: 1px solid;
    color: $colornav;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    padding: 20px;
}

// pagina 3 Estadio
.imagenesEstadio{
    margin: 10px;

    &__titulo{
        margin: 20px;
    }

    &__img{
        margin: 20px;
        display: inline-block;
        width: 320px;
        height: 300px;
    }
}

// pagina 4 Socios
.sectionSocios{
    margin: 20px;
    display: block;

    &__lista{
        color: $colornav;
        font-weight: 200;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-size: 20px;
        list-style: none;
    }

    &__img{
        margin: 10px;
        display: inline-block;
        width: 320px;
        height: 300px;
    }

    &__titulo{
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
        font-weight: 500;
        margin: 40px 0 40px 0;
        max-width: 100%;
        min-width: 100%;
        text-align: center;
        text-transform: uppercase;
    }

    &__far{
        color: rgb(255, 255, 152);
    }
}


// pagina 5 contactos
.paginaContacto{
    &__legend{
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: 500;
    }

    &__form{
        padding: 10px;
        margin: 50px;
    }

    &__fondo{
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__img{
        height: 100%;
        width: 100%;
    }

    &__btn{
        margin-top: 30px;
    }
}   	

.carousel{
    height: 100%;
    width: 100%;
    margin-bottom: 200px;
    margin-top: 50px;

    &__titulo{
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-style: italic;
        font-size: 40px;
        font-weight: 500;
        margin: 20px;
    }

    &__img{
        height: 700px;
    }
}

// footer
.footer{
    background-color: $colornav;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    &__parrafo{
        margin-left: 40px;
        color: $colorbody;
    }

    &__redes{
        margin-right: 40px;
    }

    &__logos{
        margin: 10px;
    }
}

@media only screen and ( max-width:600px) {
    table{
        margin: 20px;
    }
    
    tr, td {
        font-size: 15px;
        padding: 10px;
    }

    .carousel__titulo{
        font-size: 25px;
    }

    .tituloHome{
        font-size: 40px;
    }
}

@media only screen and ( min-width:600px) {
    .sectionSocios__img{
    width: 500px;
    height: 350px;
    }

    .imagenesEstadio__img{
    width: 500px;
    height: 350px;    
    }
}

@media only screen and ( min-width:992px){
    .sectionSocios__img{
        width: 600px;
        height: 400px;
    }

    .imagenesEstadio__img{
        width: 600px;
        height: 400px;    
        }

    .sectionSocios__lista{
        font-size: 30px;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}
